$base-font-size: 24px;

@mixin header-width-tablet {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin header-width-phone {
    @media (max-width: 400px) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: $base-font-size;
    font-family: Georgia, sans-serif;

    overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
}

main{
    overflow: hidden;
}

section{
    max-width: 1440px;
    margin: 0 auto;

   

    @include header-width-tablet{
        .section-title{
          font-size: 42px;
        }
    }

    @include header-width-phone{
        .section-title{
          font-size: 35px;
        }
    }
}

.background{
    position: absolute;

    width: 650px;
    height: 1000%;

    bottom: 100px;
    left: -25%;

    opacity: 0.1;
    z-index: -999;
    background: url("../img/background.png") ;
}



@import "./block/*.scss";
@import "./font-texts/*.scss";