.feed-back {
  max-width: none;
  width: 100%;
  margin-top: 150px;

  @media (max-width:1800px) {
    .feed-back__content{

        .slider{
            flex-direction: column;
        }
    }
  }

  .feed-back__content {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    align-items: center;

    .slider {
      width: fit-content;
      display: flex;
      gap: 30px;
      margin-top: 50px;
      margin-left: 0%;
      .feed-back__block:hover {
        box-shadow: 0px 0px 40px #eeeeee;
        transform: scale(1.02);
      }

      .feed-back__block:hover .feed-back__icon::before {
        opacity: 0.8;
      }

      .feed-back__block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 570px;
        width: 100%;
        min-height: 570px;
        height: fit-content;

        background-color: #ffffff;
        box-shadow: none;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 50px 30px;
        flex-basis: 570px;
        flex-shrink: 1;

        transition: all 0.3s ease;

        list-style-type: none;

        @include header-width-tablet{

            min-height: unset;
            .feed-back__text{
                font-size: 22px;
            }

            .feed-back-description-person{
                .feed-back-person__name.feed-back-person__name.feed-back-person__name.feed-back-person__name{
                    font-size: 26px;
                }
                .feed-back-person__position.feed-back-person__position.feed-back-person__position.feed-back-person__position{
                    font-size: 20px;
                }
            }
        }

        .feed-back__icon {
          position: relative;
          background-image: url("../img/feed-back/feed-back-icon-disable.png");
          width: 37px;
          height: 29px;
          opacity: 1;
          transition: opacity 0.3s ease;
        }

        .feed-back__icon::before {
          content: "";
          background-image: url("../img/feed-back/feed-back-icon.png");
          position: absolute;

          left: 0;
          top: 0;

          width: 100%;
          height: 100%;

          opacity: 0;
          transition: opacity 0.3s ease;
        }

        .feed-back__person {
          display: flex;
          align-items: center;

          flex-wrap: wrap;
            
          gap: 30px;
          margin-top: 50px;

          .feed-back-person__img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #eeeeee;
          }

          .feed-back-description-person {
            text-align: center;

            .feed-back-person__name {
              font-family: "Georgia";
              font-weight: 700;
              font-size: 20px;
              color: #353540;
            }

            .feed-back-person__position {
              font-family: "Axiforma";
              font-weight: 300;
              font-size: 16px;
              color: #5d5d61;
            }

            .feed-back-person__mark {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 140px;
            }
          }
        }
      }
    }
  }
}
