.new-job {
  display: flex;
  margin-top: 150px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 85px;

  & > * {
    padding: 0 10px;
  }

  

  @include header-width-phone {

  }

  @media (max-width: 600px) {
    .background-new-job .new-job__humans-container .man-container .white-line {
      top: -160px;
    }
  }
  @media (max-width: 1100px) {
    .red-line {
      display: none;
    }

    .yellow-line {
      display: none;
    }
    .background-new-job {
      width: 80vw;
      height: 70vw;

      .new-job__humans-container {
        width: 80vw;
        height: 70vw;

        .man-container {
          width: 37vw;
          height: 70vw;

          & :nth-child(1) {
            width: 37vw;
            height: 57vw;
          }
        }
        .girl-container {
          width: 37vw;
          height: 70vw;

          & :nth-child(1) {
            top: 10%;
            left: -200%;
            transform: rotate(45deg);
          }

          & :nth-child(2) {
            width: 37vw;
            height: 57vw;
          }
        }
      }
    }
  }
}

.new-job-description {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-new-job {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .yellow-line {
    position: absolute;

    top: 395px;
    left: -120px;

    width: 430px;
    height: 430px;

    z-index: -10;
  }

  .red-line {
    position: absolute;

    top: 0;
    right: -57px;

    width: 450px;
    height: 415px;
    z-index: -10;
  }

  .new-job__humans-container {
    display: flex;

    width: 832px;
    height: 749px;

    .man-container {
      overflow: hidden;
      position: relative;
      background: #fec247;
      border-radius: 200px 200px 0px 200.5px;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 401px;
      height: 749px;
      z-index: -4;

      .white-line {
        position: absolute;

        transform: rotate(-90deg);
        top: -142px;
        left: -318px;

        width: 1487px;
        height: 942px;
        z-index: -1;
      }

      img {
        transform: rotate(180deg);

        z-index: 999;
      }
    }

    .girl-container {
      position: relative;
      overflow: hidden;
      background: #ee4f3c;
      margin-left: 30px;
      border-radius: 200px 200px 200.5px 0;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 401px;
      height: 749px;
      z-index: 1;

      .white-line {
        position: absolute;

        transform: rotate(-90deg);
        top: 170px;
        left: -318px;

        width: 1487px;
        height: 942px;
        z-index: -1;
      }

      img {
        transform: rotate(180deg);
      }
    }
  }
}
