.subscribe {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;


    @include header-width-tablet{
        .background-points{
            display: none;
        }
        .background-lines{
            display: none;
        }
    }
    .background {
        width: 2400px;
        height: 400px;
        top: 100px;
        left: -30%;
    }

    .subscribe__content {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1140px;
        padding: 0 10px;

        width: 100%;
        height: fit-content;


        .subscribe__block {
            position: relative;
            display: flex;
            padding: 60px 0;

            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

            background: #EE4F3C;
            border-radius: 20px;

            .background-points{
                top: 280px;
                right: 0;
                left: 20px;
                width: 150px;
                height: 150px;
                .point{
                    background-color: #fff;
                    margin: 0 22px 22px 0;
                }
            }
            .subscribe-description__block{
                display: flex;
                flex-direction: column;

                max-width: 775px;
                width: 100%;
                
                gap: 50px;

                .subscribe-block__input{

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    flex-wrap: wrap;

                    gap: 5px;

                    background-color: #FFFFFF;
                    border-radius: 10px;
                    overflow: hidden;

                    padding: 5px 10px;

                    .subscribe-block-input__text{
                        font-family: 'Axiforma';
                        font-weight: 300;
                        font-size: 16px;
                        color: #5D5D61;
                        border: none;
                        max-width: 530px;
                        width: 100%;
                        height: 70px;
                        padding: 5px 15px;

                        border-radius: 10px;
                    }
                    
                    .subscribe-block-input__text:focus{
                        outline: 0;
                    }

                    .subscribe-block-input__text:active{
                        border: none;
                    }
                }
            }

            @media (max-width:820px){
                .subscribe-block__input.subscribe-block__input{
                    background-color: rgb(238, 79, 60);

                }
            }
        }
    }
}