extends layout/app

block page
    include chunk/header
    main.main-container
        include chunk/find-apply

        include chunk/popular-job-file

        include chunk/job-categories
        
        include chunk/new-job

        include chunk/post-job
        
        include chunk/feed-back
        
        include chunk/subscribe

    include chunk/footer