section.find-apply#Home
    .background
    .find-apply-text
        h1.title= 'Find & Apply For Your Dream Job'
        p.text= 'The website is chockablock with useful features, allowing you to efficiently search and apply for roles across all sectors, experience levels and locations.'
        .search-block
            input.input-text-search(type="text" placeholder="Job title or Keywords")
            input.input-text-search(type="text" placeholder="Location")
            button.btn-search Search
    .imgs-container
        .bg-for-img-1 
            .bg-for-img-2 
        img.main-pic(src="img/girl-main-pic.png")
        div.cart-pic.adam 
            .person-pic-bg.bg-adam
                img.person-pic(src="img/Adam.svg", alt="")
                img.mark-pic(src="img/adam-mark.svg", alt="")
            h4.desc-title Adam
            p.desc-text Project Manager
        div.cart-pic.maliha
            .person-pic-bg.bg-maliha
                img.person-pic(src="img/Maliha.svg", alt="")
                img.mark-pic(src="img/maliha-mark.svg", alt="")
            h4.desc-title Maliha
            p.desc-text UX Designer
        div.icon-pic.paypal
        div.icon-pic.google
        div.icon-pic.microphone
        div.icon-pic.smthng
