section.new-job#Service
    .new-job-description
        h2.new-job__title Get Start New Job
        p.new-job__text create an account so you can get job information that suits you, and you can apply the salary your demand.
        button.btn-create-account Create an Account
    .background-new-job 
        img.yellow-line(src="img/new-job/yellow-line.svg", alt="Линия")
        img.red-line(src="img/new-job/red-line.svg", alt="Линия")
        .new-job__humans-container 
            .man-container
                img(src="img/new-job/new-job-man.png", alt="Мужчина")
                img.white-line(src="img/new-job/white-line.svg", alt="Линия")
            .girl-container
                img.white-line(src="img/new-job/white-line.svg", alt="Линия")
                img(src="img/new-job/new-job-girl.png", alt="Женщина")