.desc-text {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #5d5d61;

  margin-bottom: 10px;
}

.member-text {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #696973;
  width: 100%;
}

.cart:not(.Slack) .text-cart {
  color: #5d5d61;
}

.text-cart {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
}

.feed-item-text {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

.cart:not(.Slack) .feed-item-text {
  color: #5d5d61;
}

.feed-text {
  font-family: "Axiforma", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.item-description__text {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #353540;
  margin-top: 10px;
}

.new-job__text {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #5d5d61;
  margin-top: 50px;
}

.post-job-description__text {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #5d5d61;
  max-width: 400px;
}

.feed-back__text {
  margin-top: 15px;
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #5d5d61;
}

.footer-contacts__text {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5d5d61;
  cursor: pointer;
}

.footer-explore__link {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5d5d61;
  text-decoration: none;
  cursor: pointer;
}

.footer-links__link {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5d5d61;
  text-decoration: none;
  cursor: pointer;
}

.news-description__text {
  font-family: "Axiforma", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #ee4f3c;
  cursor: pointer;
}

.copyright-text{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #5d5d61;
    text-align: center;
}